<!DOCTYPE html>
<html>
<head>
    <title>주문 목록</title>
</head>
<body>
    <h1>주문 목록</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>커피</th>
                <th>녹차</th>
                <th>바나나 우유</th>
                <th>피크닉</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.coffee }}</td>
                    <td>{{ order.greentea }}</td>
                    <td>{{ order.bananamilk }}</td>
                    <td>{{ order.picnic }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- '주문하러 가기' 버튼 -->
    <a href="{{ url_for('main.index') }}">주문하러 가기</a>
</body>
</html>
